# Python
.venv/
__pycache__/
*.pyc

# PlatformIO
.pio/
.platformio-core/

# Logs and temporary files
*.log
*.tmp
README.tmp

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Arduino build output
build/
